<footer>
<div class="card">
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <h3 class="text-capitalize">location</h3>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-capitalize">around the web</h3>
    <div class="socials d-flex align-items-center justify-content-center">
    <div class="social text-white d-flex align-items-center justify-content-center mx-1">
      <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="social text-white d-flex align-items-center justify-content-center mx-1">
      <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="social text-white d-flex align-items-center justify-content-center mx-1">
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="social text-white d-flex align-items-center justify-content-center mx-1">
      <i class="fa-solid fa-globe"></i>
    </div>
    </div>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-capitalize">ABOUT FREELANCER</h3>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>

    </div>
  </div>
</div>
</div>
<div class="copy text-white text-center">
  <p>Copyright © Your Website 2025</p>
</div>
</footer>
