<nav class="navbar navbar-expand-lg  fixed-top py-4 back">
  <div class="container">
    <a class="navbar-brand text-white text-uppercase fw-bolder fs-2" href="#" text-white>start framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link text-white text-uppercase mt-3 mt-md-0 fw-bold " routerLink="about" routerLinkActive="active rounded-3">About</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white text-uppercase mt-3 mt-md-0 fw-bold" routerLink="portfolio" routerLinkActive="active rounded-3">portfolio</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white text-uppercase mt-3 mt-md-0 fw-bold" routerLink="contact" routerLinkActive="active rounded-3">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
