<section class="home">
<div class="container">
  <div class="d-flex justify-content-center align-items-center text-center flex-column">
    <img src="/images/avataaars.svg" alt="">
    <div class="title text-center">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start framework</h2>
        <div class="star d-flex align-items-center justify-content-center text-white mb-3">
          <span class="line me-3"></span>
          <span class="star-icon">
            <i class="fa-solid fa-star"></i>
          </span>
          <span class="line ms-3"></span>
        </div>
        <p class="mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</div>
</section>
